.merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* header style */
.banner {
    background-image: url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    padding: 50px 140px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    justify-items: center;
    gap: 15px;
}
.banner-title {
    color: #FFFFFF;
    justify-items: center;
    text-align: center;
    margin-top: 177px;
    font-size: 32px;
}
.banner-description {
    color: #FFFFFF;
    font-size: 72px;
    justify-items: center;
    text-align: center;
    margin-top: 16px;
    /* padding: 23px 44px; */
    width: 619px;
    height: 190px;
}
    

.header-title {
    display: flex;
    padding: 35px 40px;
}
.header-description {
    display: flex;
    font-weight: 632px;
    height: 190px;
}


/* shared style */
.text-center {
    text-align: center;
}
.discount {
    text-align: center;
    justify-items: center;
}
.discount-title {
    color: #FF0000;
    margin-top: 120px;
    font-size: 88px;

}
.discount-description {
    color: #FF0000;
    font-size: 24px;
    margin-top: 48px;
}
.discount-categories {
    color: rgba(7, 2, 17, 1);
    font-size: 48px;
    margin-top: 16px;
}
.new-year {
    justify-content: space-between;
    align-items: center;
    margin: 48px 398px;
}

/* midnight party style */

.midnight-party {
    background-image: url(../images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    justify-items: center;
    padding: 120px 140px;
}
.midnight-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    
}

.midnight-party-title {
    color: #FFFFFF;
    font-size: 64px;
    margin-top: 126px;
    margin-left: 126px;
    width: 642px;
    height: 176px;

}
.midnight-party-description {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 126px;
    margin-top: 24px;

}
.midnight-pic {
    margin-top: 68px;
    margin-right: 138px;
}
.btn {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 48px;
    margin-left: 158px;
    
}
/* container place style */
.container {
    background-color: rgba(255, 0, 0, 0.05);
    width: 1047px;
    height: 382px;
    padding: 120px 140px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    justify-items: center;
    margin-left: 132px;
    border-radius: 15px;
    font-size: 32px;
}
 /* .container {
    margin: 100px 386px;
    background-color: #FF0000;
    /* opacity: 10%; */
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 140px;
 } */
.place {
    color: black;
    text-align: center;
    font-size: 32px;
}
.date {
    color: black;
    text-align: center;
    font-size: 32px;
}
.time {
    color: black;
    text-align: center;
    font-size: 32px;
}
.container-color {
    color: #FF0000;
}
.container-btn {
    padding: 22px 18px 22px 18px;
    background-color: #FF0000;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    width: 125px ;
    height: 36px;
    border-radius: 8px;
    justify-content: center;
    margin-top: 48px;
    margin-left: 30px;
}
.btn-color{
    color: #FFFFFF;
    
    
}
/* new offer style */
.new-offer-container {
    display: flex;
    gap: 50px 90px;
    width: 1047px;
    height: 382px;
    justify-content: space-around;
    justify-items: center;
    margin: 120px 140px;
}
.new-offer-title {
    color: #FF0000;
    font-size: 24px;
}
.new-offer-item {
    color: black;
    font-size: 48px;
    margin-top: 16px;
}
.new-offer-details {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    margin-top: 22px;
}
.new-offer-image {
    border-radius: 50%;
    background: linear-gradient(red);
    mask: radial-gradient(trasparent 89px, #000 90px);
}
/* holiday discount offer style */
.holiday-container {
    width: 1320px;
    height: 939px;
    margin: 120px 140px;
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;
    justify-items: center;
    margin-left: 140px;
}
.holiday-box {
    text-align: center;
    
}
.holiday-container-title {
    color: #070211;
    font-size: 24px;

}
.holiday-container-discount {
    color: black;
    font-size: 72px;
    margin-top: 16px;
}
.holiday-color {
    color: #FF0000;
}
.holiday-container-description {
    color: #070211;
    font-size: 20px;
    width: 986.07px;
    height: 96px;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 28px;
}
.holiday-pictures {
    display: flex;
    justify-content: space-between;
    gap: 60px;

}
.product-container {
    width: 1320px;
    height: 1163px;
    margin-left: 140PX;
}
.product-img:hover {
    gap: 15px;
    cursor: pointer;
}
.product-container-title {
    color: #FF0000;
}
.product-container-description {
    font-size: 20px;
    width: 766px;
    height: 96px;
}
/* newsletter style */
.newsletter-container {
    width: 1320px;
    height: 616px;
    background-color: rgba(255, 0, 0, 0.05);
    background-repeat: no-repeat;
    margin-left: 140px;
    border-radius: 16px;
}
.news-img {
    margin-top: 80px;
}

.newsletter-image {
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    margin-top: 80px;
}
.newsletter-title {
    width: 512px;
    height: 60px;
    color: black;
    font-size: 48px;
    margin: 0 auto;
    margin-top: 100px;
}
.newsletter-description {
    width: 896px;
    height: 64px;
    margin: 0 auto;
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    margin-top: 22px;
    text-align: center;
}
.newsletter-email {
    text-align: center;
    justify-content: space-around;
    justify-items: center;
    height: 72px;
    width: 648px;
    margin: 0 auto;
    margin-top: 48px;
    
    
}
.subscribe-button {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    

}
.email-input {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    color: #ccc;
    position: relative;
    outline: none;
    border-radius: 25px;
    
}
/* footer style */
.footer-container {
    background-color: black;
    width: 1600px;
    height: 609px;
}
.footer-box {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 120px 140px;
    gap: 559px;
    
}
.footer-description {
    width: 375px;
    height: 80px;
    font-size: 24px;
    margin-top: 120px;
}
.footer-contact {
    width: 251px;
    height: 80px;
    margin-top: 120px;
}
.footer-icon-container {
    margin: 0 auto;
    width: 328px;
    height: 64px;
}
.resevered-box {
    justify-content: space-between;
    color: #FFFFFF;
    display: flex;
    margin: 120px;
}
fa-solid fa-phone {
    color: #FFFFFF;
}