.merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* header style */
.banner {
    background-image: url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    padding: 50px 140px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    justify-items: center;
    gap: 15px;
}
.banner-title {
    color: #FFFFFF;
    justify-items: center;
    text-align: center;
    margin-top: 177px;
    font-size: 32px;
}
.banner-description {
    color: #FFFFFF;
    font-size: 72px;
    justify-items: center;
    text-align: center;
    margin-top: 16px;
    /* padding: 23px 44px; */
    width: 619px;
    height: 190px;
}
    

.header-title {
    display: flex;
    padding: 35px 40px;
}
.header-description {
    display: flex;
    font-weight: 632px;
    height: 190px;
}


/* shared style */
.text-center {
    text-align: center;
}
.discount {
    text-align: center;
    justify-items: center;
}
.discount-title {
    color: #FF0000;
    margin-top: 120px;
    font-size: 88px;

}
.discount-description {
    color: #FF0000;
    font-size: 24px;
    margin-top: 48px;
}
.discount-categories {
    color: rgba(7, 2, 17, 1);
    font-size: 48px;
    margin-top: 16px;
}
.new-year {
    justify-content: space-between;
    align-items: center;
    margin: 48px 398px;
}

/* midnight party style */

.midnight-party {
    background-image: url(../images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    justify-items: center;
    padding: 120px 140px;
}
.midnight-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    
}

.midnight-party-title {
    color: #FFFFFF;
    font-size: 64px;
    margin-top: 126px;
    margin-left: 126px;
    width: 642px;
    height: 176px;

}
.midnight-party-description {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 126px;
    margin-top: 24px;

}
.midnight-pic {
    margin-top: 68px;
    margin-right: 138px;
}
.btn {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 48px;
    margin-left: 158px;
    
}
/* container place style */
.container {
    background-color: rosybrown ;
    width: 1047px;
    height: 382px;
    padding: 120px 140px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    justify-items: center;
    margin-left: 132px;
    border-radius: 15px;
    font-size: 32px;
}
 /* .container {
    margin: 100px 386px;
    background-color: #FF0000;
    /* opacity: 10%; */
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 140px;
 } */
.place {
    color: black;
    text-align: center;
    font-size: 32px;
}
.date {
    color: black;
    text-align: center;
    font-size: 32px;
}
.time {
    color: black;
    text-align: center;
    font-size: 32px;
}
.container-color {
    color: #FF0000;
}
.container-btn {
    padding: 22px 18px 22px 18px;
    background-color: #FF0000;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    width: 125px ;
    height: 36px;
    border-radius: 8px;
    justify-content: center;
    margin-top: 48px;
    margin-left: 30px;
}
.btn-color{
    color: #FFFFFF;
    
    
}